/* -------------------------------------------- */
/* SECTION CARDS  */
/* -------------------------------------------- */
.card {
  background-color: #f1e8ca;
  /* border-bottom: 2px solid #44d62c; */
  transition: transform 0.5s;
  max-height: 90%;
  min-width: 25%;
  border-radius: 1em;
  padding: 1em;
}
section{
    padding: 100px 200px;
}

.card h1{
  font-size: x-large;
}

.card:hover {
  transform: scale(1.03);
}

.clou {
  float: left !important;
  width: 25%;
  margin: 0 10px;
  padding: 0;
}

.col-width-5 {
  width: 350px !important;
}

.rowss {
  position: absolute;
  left: 0;
  margin: 0 10px;
  padding: 20px 0 10px;
  width: 100%;
  min-height: 500px;
}

.rowss:after {
  content: "";
  display: table;
  clear: both;
}

.imgFrame {
  width: 100%;
  height: 350px;
  /* display: flex; */
  margin: 0px;
  overflow: hidden;
}

.card img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  margin: 0;
}

.card-details {
  margin: 5px;
  padding: 0 30px 30px 18px;
  overflow: hidden;
  max-height: 150px;
  min-height: 150px;
}

.card-details p {
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 33px;
}

.card a {
  /* color: #44d62c; */
  text-decoration: none;
}

.slider-container {
  width: auto;
  margin: 0;
  height: 600px;
}

.carousel {
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  height: 50%;
  display: flex;
  width: 400%;
  height: 100%;
  transition: all 0.3s;
  transform: translate(0%);
}

.slide-sec {
  margin: 0 !important;
}

.controls .arrow {
  position: absolute;
  top: 50%;
  font-size: 50px;
  cursor: pointer;
}

.arrow.left {
  left: 14px;
}

.arrow.right {
  right: 10px;
}

.price {
  color: #fff;
  padding: 10px;
}
