@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/*main start*/
section{
    padding: 100px 200px;
}

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/Festivals-in-Sri-Lanka.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main .content{
    max-width: 800px;
}

.main .content h2{
    color: #fff;
    font-size: 2em;
    font-weight: 500;
}
.main .content h2 span{
    font-size: 2.8em;
    font-weight: 600;
}

.animated-text{
    position: relative;
    height: 70px;
    overflow: hidden;
}

.animated-text h3{
    color: #4e9eff;
    font-size: 3em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1){
    animation: text-move 10s infinite;
}

@keyframes text-move{
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -70px;
    }
    50%{
        margin-top: -140px;
    }
    75%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0;
    }
}

.btn{
    color: #fff;
    background: #3a6cf4;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    margin-top: 30px;
    transition: 0.5s ease;
}

.btn:hover{
    background: #235bf6;
}


/*main end*/


/*header start*/

header{
    z-index: 999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}
/*scroll header*/
header.sticky{
    background: #3a6cf4;
    padding: 10px 200px;
}

header .brand{
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation a{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}
 
header .navigation a:hover{
    color: rgb(7, 3, 66);
}

body{
    min-height: 110vh;
}
/*header end*/

/*home start*/
.home
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696e9;
}

.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(3, 96, 251, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content
{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
    
}

.home .content.active{
    display: block;
}

.home .content h1
{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span
{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p
{
    margin-bottom: 65px;
}

.home .content a
{
    background: #fff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px reba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}


.slider-navigation .nav-btn.active{
    background: #2696E9;
}


.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}

.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}


/*home end*/

/* items*/

.wrapper {
    background-image: linear-gradient(to bottom left, #0089CF, #123264);
    padding: 1rem;
    padding-bottom: 0;
  }
  ol {
    --column-gap: 1rem;
    --row-gap: 2rem;
    --rocket-aspect: calc(134.13/196.24); /* svg viewbox */
    --rocket-width: 3rem;
    --rocket-height: calc(var(--rocket-width) / var(--rocket-aspect));
    --flame-outer-color: #F16E39;
    --flame-inner-color: #FED103;  
    --number-circle-size: 2.5rem;
    --number-circle-border-size: 0.25rem;
    --number-line-height: 0.125rem;
    --number-line-length: calc(var(--rocket-width) / 2 + var(--column-gap) / 2);
    --number-line-dot-size: 0.25rem;
    padding-bottom: 5rem;
    list-style: none;
    display: grid;
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
    grid-template-columns: var(--rocket-width) 1fr;
    counter-reset: liCount;
    font-family: system-ui, sans-serif;
    color: white;
    overflow: hidden;
    width: min(45rem, 100%);
    margin-inline: auto;
  }
  @media (min-width: 30rem){
    wrapper { padding: 2rem }
    ol{ 
      --column-gap: 2rem;
      --rocket-width: 5rem;
      grid-template-columns: 1fr var(--rocket-width) 1fr;
    }
    ol .rocket{ grid-column: 2 !important }
    ol > li { 
      grid-column: 1/-1 !important; 
      width: calc(50% - var(--rocket-width) / 2 - var(--column-gap)) 
    }
    ol > li:nth-of-type(odd) { justify-self: end}
    ol > li:nth-of-type(even) { text-align: right}
    ol > li:nth-of-type(even):after{
      left: unset;
      right: calc(var(--circle-pos-x) * -1);
      --dot_pos_multiplier: -1
    }
    ol > li:nth-of-type(even)::before{
      right: unset;
      left: calc(100% + var(--column-gap) / 2);
      
    }
    
  }
  ol::after{
    content: "";
    grid-row: 1;
    grid-column: 1/-1;
  }
  ol .rocket{
    grid-row: 1;
    grid-column: 1;
    position: relative;
    isolation: isolate;
  }
  ol .rocket svg { width: var(--rocket-width); height: var(--rocket-height)}
  ol .rocket::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 200vh;
    top: calc(100% - var(--rocket-height) * .2);
    left: 25%;
    z-index: -1;
    background-image:
      radial-gradient(ellipse at center top, var(--flame-inner-color) 20%,transparent 50%),
      linear-gradient(to right, 
        transparent 20%, 
        var(--flame-outer-color) 40% , 
        var(--flame-inner-color) 50%,
        var(--flame-outer-color) 60%, 
        transparent 80%
      ),
      radial-gradient(ellipse at center top, var(--flame-outer-color) 35%,transparent 65%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 
      100% calc(var(--rocket-height) * 0.4), 
      100%, 
      100% calc(var(--rocket-height) * 0.4);
  }
  ol > li {
    counter-increment: liCount;
    grid-column: -2;
    position: relative;
  }
  ol > li::after{
    content: counter(liCount, decimal-leading-zero);
    width: var(--number-circle-size);
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    --circle-pos-x: calc(var(--number-circle-size) / 2 + var(--column-gap) + var(--rocket-width) / 2);
    left: calc(var(--circle-pos-x) * -1);
    top: calc(50% - var(--number-circle-size) / 2);
    background-color: var(--accent-color);
    font-weight: 600;
    --dot-size: calc(var(--number-circle-size) / -2 + var(--number-line-dot-size));
    box-shadow:
      inset 0 0 0 var(--number-circle-border-size) currentcolor,
      inset -0.125rem 0.125rem 0.25rem var(--number-circle-border-size) rgb(0 0 0 / .25),
      -0.125rem 0.125rem 0.25rem rgb(0 0 0 / .5),
      calc(var(--number-line-length) * var(--dot_pos_multiplier, 1)) 0 0 var(--dot-size) currentcolor;
  }
  
  ol > li::before{
    position: absolute;
    content: "";
    width: var(--number-line-length);
    height: var(--number-line-height);
    background-color: currentcolor;
    right: calc(100% + var(--column-gap) / 2);
    top: calc(50% - var(--number-line-height) / 2);
  }

  /* end items */

  /* application*/


  #body_header
  {
  
      width:auto;
      margin:0px auto;
      text-align:center;
      font-size:25px;
  }
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: auto;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"]
  
  {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  
  
    form {
      max-width: 480px;
    }
  
  


  /* end application*/


  
  /*footer start*/
.footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #000016;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer .footer-container .sec{
  margin-right: 30px;
}

.footer .footer-container .sec.aboutus{
  width: 40%;
  
}
.footer .footer-container h2{
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer .footer-container h2:before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #2696E9;
}

.footer p{
  color: #999;
}

.sci{
  margin-top: 20px;
  display: flex;
}

.sci li{
  list-style: none;
}

.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover{
  background: #2696e9;
}

.sci li a .fab{
  color: #fff;
  font-size: 20px;
}

.quickLinks{
  position: relative;
  width: 25%;
}

.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover{
  color: #2696e9;
}

.Lcontact{
  width: calc(35% -60px);
  margin-right: 0 !important;
}
.Lcontact .info{
  position: relative;
}

.Lcontact .info li{
  display: flex;
  margin-bottom: 16px;
}

.Lcontact .info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.Lcontact .info li span{
  color: #999;
}

.Lcontact .info li a{
  color: #999;
  text-decoration: none;
}
.Lcontact .info li a:hover{
  color: #2696e9;
}

/*footer end*/

/*Copyfooter start*/

.copyrightText{
  width: 100%;
  background: #181811;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}



/*Copyfooter end*/
